/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.home_wrap {
  display: flex;
  flex: 1
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark_bg {
  @extend .container;
  background: linear-gradient(to bottom, #152D35 30%, #395B64); background-blend-mode: multiply,multiply;
}
.light_bg {
  @extend .container;
  background-image: linear-gradient(to bottom, #fff, #E4DCCF 60%, #7D9D9C 100%);
}
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10vw;
  height: 50px;
  &::before {
    display: block;
    content: '「';
    position: absolute;
    left: 0;
    top: 0;
  }
  &::after {
    display: block;
    content: '」';
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.typing_effect {
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
  animation: typing 1.5s steps(6), effect .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}